<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- 清除默认源，防止冲突，然后重新添加官方源和 GitHub 源 -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- 将 YOUR_ORG 替换为你的组织名或用户名 -->
		<add key="github" value="https://nuget.pkg.github.com/FundOffice/index.json" />
	</packageSources>
</configuration>